.tool-bar {
	-fx-background-color:  #3C3F41;
	-fx-background-radius: 8;
}

.backgrounds {
	-fx-background-color:  #8d6262;
}

.labels {
	-fx-font-family: "georgia";
	-fx-font-size: 20;
}

.chosen-items {
	-fx-background-color : gray;
	-fx-background-radius : 8;
	-fx-font-family: "georgia";
}

.chosen-item-button {
	-fx-background-color : gray;
	-fx-background-radius : 0 8 8 0;
	-fx-border-width: 0;
}

.chosen-item-button:hover {
	-fx-background-color: white;
}