.tab-pane:left .tab-header-area .headers-region .tab:left {
	-fx-rotate: 90;
}

.tab-pane:left .tab-header-area .headers-region {
	-fx-pref-height: 100;
}

.info-part {
	-fx-background-color:  #00adb5;
	-fx-background-radius: 15;
}


/*
 *  pup up style
 */

.pupUp-background {
	-fx-background-color:  #121212;
	-fx-background-radius: 30;
}

.my-button {
	-fx-background-color: derive(#ff0266, -15%);
	-fx-background-radius: 10;
	-fx-cursor: hand;
	-fx-font-family: Georgia;
	-fx-font-size: 20;
	-fx-effect: dropshadow(gaussian, #ff5722, 4, 0.0, 0, 4);
}

.my-button:hover {
	-fx-background-color: derive(#ff0266, -50%);
}

.my-button:pressed {
	-fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}