.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #4d4545;
	-fx-background-radius: 10 10 0 0;
}

.tab-pane .tab-header-area .headers-region .tab {
	-fx-background-color: #8d6262;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label .text {
	-fx-fill: #ed8d8d;
	-fx-fill: #17223b;
}